*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  user-select: none;
}

body{
  background-color: $weakApple;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer{
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: center;
  color: $bg;

  a{
    color: $bgDark;
    transition: all 100ms;

    &:hover{
      font-weight: 700;
    }
  }
}

.font__bold{
  font-weight: 700;
}

.bg__light{
  background-color: $bgLight;
}
